
# Python caches
__pycache__/
*.pyc
.pytest_cache/

# Local DB / state
*.db
*.sqlite
*.sqlite3
.streamlit/

# Build outputs
dist/
build/

# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# C# build outputs
bin/
obj/
*.app
